<section class="resume-section" id="interests">
  <div class="resume-section-content">
    <h2 class="mb-5">{{ info["es"].title }}</h2>
    <div
      class="d-flex flex-column flex-md-row justify-content-between"
      *ngFor="let c of info['es'].courses"
    >
      <div class="flex-grow-1">
        <h3 class="mb-0">{{ c.title }}</h3>
        <div class="subheading mb-3">
          {{ c.site }}
        </div>
        <div>
          Credecial:
          <a href="{{ c.credentialUrl }}" target="_blank">{{ c.credential }}</a>
        </div>
      </div>
      <div class="flex-shrink-0">
        <span class="text-primary">{{ c.date }}</span>
      </div>
    </div>
  </div>
</section>
