<!-- Navigation-->
<nav
  class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top"
  id="sideNav"
>
  <a class="navbar-brand js-scroll-trigger" href="#page-top">
    <span class="d-block d-lg-none">German Brassini</span>
    <span class="d-none d-lg-block"
      ><img
        class="img-fluid img-profile rounded-circle mx-auto mb-2"
        src="assets/assets/img/profile.jpg"
        alt=""
    /></span>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon" (click)="toogleMenu()"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav navLink">
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" (click)="scroll('about')"
          >Sobre mi</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" (click)="scroll('experience')"
          >Experiencia Laboral</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" (click)="scroll('education')"
          >Educación</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" (click)="scroll('skills')"
          >Habilidades</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" (click)="scroll('interests')"
          >Cursos</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" (click)="scroll('awards')"
          >Varios</a
        >
      </li>
    </ul>
  </div>
</nav>
<!-- Page Content-->
<div class="container-fluid p-0">
  <!-- About-->
  <section class="resume-section" id="about">
    <div class="resume-section-content">
      <h1 class="mb-0">
        German
        <span class="text-primary">Brassini</span>
      </h1>
      <div class="subheading mb-5">
        67 #40 · La Plata, Buenos Aires, CP 1900 ·
        <a target="_top" href="mailto:german.brassini@gmail.com"
          >german.brassini@gmail.com</a
        >
      </div>
      <p class="lead mb-5">
        Principalmente me desempeñé en trabajos relacionados a la industria, la
        tecnología y la medicina. Poseo amplios conocimientos en electrónica,
        química y programación. Me caracterizo por poseer una capacidad de
        aprendizaje veloz y por buscar una constante optimización de los
        procesos. Puntual, prolijo y eficiente.
      </p>
      <div class="social-icons">
        <a
          class="social-icon"
          href="https://www.linkedin.com/in/german-brassini-68107114b/"
          target="_blank"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <a
          class="social-icon"
          href="https://github.com/GermoEDLP"
          target="_blank"
          ><i class="fab fa-github"></i
        ></a>
        <a class="social-icon" href="mailto:german.brassini@gmail.com"
          ><i class="fa fa-envelope" target="_blank"></i
        ></a>
      </div>
    </div>
  </section>
  <hr class="m-0" />
  <!-- Experience-->
  <section class="resume-section" id="experience">
    <div class="resume-section-content">
      <h2 class="mb-5">Experiencia Laboral</h2>

      <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
          <h3 class="mb-0">Desarrollador Web Full Stack</h3>
          <div class="subheading mb-3">Torre Tres</div>
          <p>
            Desarrollo en FrontEnd: HTML5, CSS3, ECMAScript 6, Angular 11 y
            Bootstrap 4.
          </p>
          <p>Desarrollo en BackEnd: PHP7, NodeJS y Firebase.</p>
        </div>
        <div class="flex-shrink-0">
          <span class="text-primary">Febrero 2019 - Presente</span>
        </div>
      </div>

      <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
          <h3 class="mb-0">Técnico en Electromedicina</h3>
          <div class="subheading mb-3">
            H.I.G.A. Gral. San Martin de La Plata
          </div>
          <p>
            Cargo tecnico en Electromedicina. Mantenimiento preventivo y
            correctivo de los siguientes equipos médicos: Respiradores, Maquinas
            de Rayos X, Tomógrafos, Monitores multiparámetros, heladeras para
            sangre humana, crio freezers, centrifugas y micro centrifugas,
            campanas de flujo laminar, microscopios ópticos, UPS´s y
            estabilizadores, Lamparas scialiticas, mesas de cirugía, camas
            eléctricas y equipos de testeo de signos vitales. Desarrollo de
            métodos de reparación específicos para equipos que cuentan con
            problemas recurrentes. Desarrollo de modelos circuitales de mayor
            eficiencia para equipos con problemas. Desarrollo del programa que
            actualmente utiliza el Servicio de Ingeniería Clínica del HIGA Gral
            San Martin para monitorear el estado de funcionamiento y la locación
            de los equipos del hospital, asi como sus movimientos fuera del
            mismo (reparaciones externas). Realicé estudios sobre eficiencia de
            lamparas de Cirugía que dieron lugar al desarrollo de nuevas
            configuraciones de desarrollo circuital para mejorar rendimientos
            energéticos y alargar la vida útil de los componentes de las mismas.
          </p>
        </div>
        <div class="flex-shrink-0">
          <span class="text-primary">Octubre 2015 - Febrero 2019</span>
        </div>
      </div>

      <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="flex-grow-1">
          <h3 class="mb-0">Técnico</h3>
          <div class="subheading mb-3">Hospital Español de La Plata</div>
          <p>
            Manufacturación de componentes Ácidos (X-1, X-15 y X-16) y básicos
            (X-10 y Bicarbonato de sodio) utilizados en el proceso de
            Hemodiálisis. Mantenimiento preventivo y correctivo de los
            mezcladores y el ozonizador. Mantenimiento preventivo del Equipo de
            Ósmosis Inversa (variaciones de presión y flujo, chequeo de bombas,
            cabezales y micro filtros). Transporte y manejo de materiales
            peligrosos. Testeo de productos parciales y finales.
          </p>
        </div>
        <div class="flex-shrink-0">
          <span class="text-primary">Marzo 2016 - Febrero 2017</span>
        </div>
      </div>

      <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
          <h3 class="mb-0">Técnico en Tratamiento de Agua</h3>
          <div class="subheading mb-3">
            H.I.G.A. Gral. San Martin de La Plata
          </div>
          <p>
            Operación y mantenimiento preventivo (desinfecciones) y correctivo
            de Equipos de Ósmosis Inversa, incluyendo pre-tratamiento (Lecho
            arenoso, resina cationica de base sódica y carbón activado),
            membranas de Ósmosis Inversa y bombas. Testeo de producto parcial y
            final bajo normativa AAMI y Farmacopea para tratamiento de
            Hemodialisis. Manejo y transporte de productos peligrosos. Diseño de
            plantas de Ósmosis Inversa, montaje y puesta en marcha. Seteo de
            equipamiento y puesta en funcionamiento. Desarrollo de manuales y
            protocolos para la optimización del funcionamiento de los servicios.
          </p>
        </div>
        <div class="flex-shrink-0">
          <span class="text-primary">Agosto 2014 - Octubre 2015</span>
        </div>
      </div>
    </div>
  </section>
  <hr class="m-0" />
  <!-- Education-->
  <section class="resume-section" id="education">
    <div class="resume-section-content">
      <h2 class="mb-5">Educación</h2>
      <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
          <h3 class="mb-0">Universidad Nacional de La Plata (UNLP)</h3>
          <div class="subheading mb-3">Ingenieria Industrial</div>
          <div>Proximo a carrera de grado: 90%</div>
          <p>Calif.: 7,3</p>
        </div>
        <div class="flex-shrink-0">
          <span class="text-primary">Enero 2010 - Actualidad</span>
        </div>
      </div>
      <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="flex-grow-1">
          <h3 class="mb-0">Universidad Nacional de La Plata (UNLP)</h3>
          <div class="subheading mb-3">Licenciatura en Sistemas</div>
          <div>Avance actual: 33%</div>
          <p>Calif.: 8</p>
        </div>
        <div class="flex-shrink-0">
          <span class="text-primary">Enero 2019 - Actualidad</span>
        </div>
      </div>
      <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="flex-grow-1">
          <h3 class="mb-0">Instituto Madre de la Divina Gracia</h3>
          <div class="subheading mb-3">
            Bachiller en Cs. Naturales y Cs. Químicas
          </div>
          <div>Egreso: 2010</div>
          <p>Calif.: 9,7</p>
        </div>
      </div>
    </div>
  </section>
  <hr class="m-0" />
  <!-- Skills-->
  <section class="resume-section" id="skills">
    <div class="resume-section-content">
      <h2 class="mb-5">Habilidades</h2>
      <div class="subheading mb-3">Programas de oficina y Herramientas</div>
      <ul class="list-inline dev-icons">
        <li
          class="list-inline-item mr-4"
          placement="top"
          ngbTooltip="Microsoft Excel"
        >
          <i class="fas fa-file-excel"></i>
        </li>
        <li
          class="list-inline-item mr-4"
          placement="top"
          ngbTooltip="Microsoft Word"
        >
          <i class="fas fa-file-word"></i>
        </li>
        <li
          class="list-inline-item mr-4"
          placement="top"
          ngbTooltip="Microsoft Power Point"
        >
          <i class="fas fa-file-powerpoint"></i>
        </li>
        <li class="list-inline-item mr-4" placement="top" ngbTooltip="AutoCAD">
          <i class="fab fa-autoprefixer"></i>
        </li>
      </ul>
      <div class="subheading mb-3">Lenguajes de programación y FrameWorks</div>
      <ul class="list-inline dev-icons">
        <li class="list-inline-item mr-4" placement="top" ngbTooltip="HTML5">
          <i class="fab fa-html5"></i>
        </li>
        <li
          class="list-inline-item mr-4"
          placement="top"
          ngbTooltip="CSS3"
          placement="top"
        >
          <i class="fab fa-css3-alt"></i>
        </li>
        <li
          class="list-inline-item mr-4"
          placement="top"
          ngbTooltip="JavaScript"
        >
          <i class="fab fa-js-square"></i>
        </li>
        <li
          class="list-inline-item mr-4"
          placement="top"
          ngbTooltip="Angular 11"
        >
          <i class="fab fa-angular"></i>
        </li>
        <li
          class="list-inline-item mr-4"
          placement="top"
          ngbTooltip="NodeJS 10"
        >
          <i class="fab fa-node-js"></i>
        </li>
        <li class="list-inline-item mr-4" placement="top" ngbTooltip="GitHub">
          <i class="fab fa-git-alt"></i>
        </li>
        <li class="list-inline-item mr-4" placement="top" ngbTooltip="Firebase">
          <i class="fab fa-google"></i>
        </li>
        <li
          class="list-inline-item mr-4"
          placement="top"
          ngbTooltip="Bootstrap 5"
        >
          <i class="fab fa-bootstrap"></i>
        </li>
        <li class="list-inline-item mr-4" placement="top" ngbTooltip="NPM">
          <i class="fab fa-npm"></i>
        </li>
      </ul>

      <div class="subheading mb-3">Aptitudes</div>
      <ul class="fa-ul mb-0">
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          Mantenimiento de equipos de moderada y alta complejidad
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          Electrónica teórica y aplicada
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          Desarrollo informatico teórico y aplicado
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          Manejo y desarrollo de Software
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          Manuales de protocolo
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          Aplicación de noramtivas para la optimización
        </li>
      </ul>
    </div>
  </section>
  <hr class="m-0" />
  <!-- Interests-->
  <section class="resume-section" id="interests">
    <div class="resume-section-content">
      <h2 class="mb-5">Cursos</h2>
      <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="flex-grow-1">
          <h3 class="mb-0">PHP y MySQL Avanzado</h3>
          <div class="subheading mb-3">
            Universidad Tecnológica Nacional de Buenos Aires (UTN.BA)
          </div>
          <div>
            Credecial:
            <a
              href="https://sigead.online/alumnos/validar_certificado"
              target="_blank"
              >CER-HVNALHX5-438775</a
            >
          </div>
        </div>
        <div class="flex-shrink-0">
          <span class="text-primary">Marzo 2020</span>
        </div>
      </div>
      <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="flex-grow-1">
          <h3 class="mb-0">Fundamentos de las Bases de Datos</h3>
          <div class="subheading mb-3">
            Universidad Tecnológica Nacional de Buenos Aires (UTN.BA)
          </div>
          <div>
            Credecial:
            <a
              href="https://sigead.online/alumnos/validar_certificado"
              target="_blank"
              >CER-1NNLP4E9-438458</a
            >
          </div>
        </div>
        <div class="flex-shrink-0">
          <span class="text-primary">Marzo 2020</span>
        </div>
      </div>
    </div>
  </section>
  <hr class="m-0" />
  <!-- Awards-->
  <section class="resume-section" id="awards">
    <div class="resume-section-content">
      <h2 class="mb-5">Varios</h2>
      <ul class="fa-ul mb-0">
        <li>
          <span class="fa-li"><i class="fas fa-quote-left text-warning"></i></span>
          Lenguajes:
          <ul>
              <li>Ingles: Comprensión y lectura avanzada / Escritura nivel medio</li>
          </ul>
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-car text-warning"></i></span>
            Registro de conductor categorías B.1. y F.
          </li>
      </ul>
    </div>
  </section>
</div>
