<!-- Navigation-->
<app-navbar></app-navbar>
<!-- Page Content-->
<div class="container-fluid p-0">
  <div class="lang-box">
    <img src="assets/icons/spain.png" alt="spain flag" class="lang-flag selected-lang" />
    <img
      src="assets/icons/united-kingdom.png"
      alt="england flag"
      class="lang-flag"
    />
  </div>

  <app-about></app-about>
  <hr class="m-0" />

  <app-experience></app-experience>
  <hr class="m-0" />

  <app-education></app-education>
  <hr class="m-0" />

  <app-skill></app-skill>
  <hr class="m-0" />

  <app-interest></app-interest>
  <hr class="m-0" />

  <app-awards></app-awards>
</div>
