<section class="resume-section" id="experience">
  <div class="resume-section-content">
    <h2 class="mb-5">Experiencia Laboral</h2>

    <div class="d-flex flex-column flex-md-row justify-content-between mb-5" *ngFor="let exp of info['es'].items">
      <div class="flex-grow-1">
        <h3 class="mb-0">{{exp.title}}</h3>
        <div class="subheading mb-3">{{exp.company}}</div>
        <p *ngFor="let p of exp.content">
          {{p}}
        </p>
      </div>
      <div class="flex-shrink-0">
        <span class="text-primary">{{exp.date}}</span>
      </div>
    </div>
  </div>
</section>
